/* általános formázások */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*
{
	box-sizing: border-box;
	text-shadow: 1px 1px 0.75px rgba(0,0,0,.5);
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(153, 204, 255,.25);
 	margin: 0;
}
.wrapper{
	margin: 0 auto;
	min-width: 335px;
 	max-width: 1200px;	
}

.user{
	text-align: center;
	margin: 20px;
}
.user a{
	font-weight: 700;
}
.mediasize{
	text-align: center;
	margin: 20px;
}
.mediasize a{
	font-weight: 700;
	color: black;
	text-decoration: none;
}
.table-title{
	background-color: rgb(32,98,152);
	color: white;
}
.table-header{
	background-color: rgb(59,173,226);
	color: white;
}
.card-button-group{
	display: flex;
	justify-content: start;
}
.card-button-group button{
	line-height: 1;
	margin-right: 5px;
}
/* main.htlm formázások */
nav{
	background-color: white;
	margin-bottom: 50px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
}
img{
	float: left;
}
nav::after{
	content:'';
	clear: both;
	display: table;
}
nav ul{
	margin: 25px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
nav li{
	padding: 0 5px;
}
nav a{
	display: block;
	text-decoration: none;
	color: rgb(32,98,152);
	font-weight: 700;
	font-size: 17px;
  	white-space: nowrap;
}
	nav a:hover{
		color: rgb(59,173,226);
		background-color: rgba(139,140,142,.5);
		border-radius: 5px;
		margin: -5px 0;
		padding: 5px;
	}
nav i{
	font-size: 15px;
	color: rgb(202,169,117);
}

.mobile-menu-button + input[type = "checkbox"]{
	display: none;
}
.mobile-menu-button + input[type = "checkbox"]:checked ~ .navigation{
	margin: 80px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.mobile-menu-button{
	display: none;
	float: right;
	width: 45px;
	border: 2px solid rgb(32,98,152);
	border-radius: 5px;
	margin: 15px 5px;
	padding: 10px;
}
.mobile-menu-button span{
	display: block;
	height: 5px;
	background:  rgb(32,98,152);
	margin: 0 0 5px 0;
}
.mobile-menu-button span:last-of-type {
	margin: 0;
}
@media(max-width:992px){
	.navigation{
		display: none;
	}
	.mobile-menu-button{
		display: block;
	}
	nav ul li{
		padding: 5px 5px;
	}
}

/* vehicles.html formázások */
.vehicle-new{
	margin: 0 0 30px 0;
}
.vehicle-new span{
	color: rgb(59,173,226);
	font-weight: 700;
	font-size: 17px;
}
.vehicle-new i{
	font-size: 15px;
	color: rgb(202,169,117);
}
.vehicle-new h6{
	margin: 10px 0;
	text-align: center;
	font-weight: 700;
}

.vehicle-modify p,
.vehicle-delete p{
	text-align: left;
}

.vehicle-table table{
	width: 100%;
	background-color: white;
	border: 1px solid rgba(139,140,142,.5);
}
.vehicle-table th, td{
	height: 50px;
	vertical-align: middle;
	border: 1px solid  rgba(139,140,142,.5);
}
.vehicle-table th{
	text-align: center
}
.vehicle-table td{
	text-align: right;
	white-space: nowrap;
}
.vehicle-table .col-1, .col-2, .col-3, .col-4{
	width: 20%;
	padding: 0 15px;
}
.vehicle-table .col-5{
	text-align: center;
	white-space: nowrap;
	padding: 0 5px;
}
.vehicle-table .col-5 button{
	margin: 5px 0;
}
.vehicle-table h6{
	margin: 10px 0;
	text-align: center;
	font-weight: 700;
}

/* scheduler.html formázások */
.dateselectorbox{
	margin: 30px 0;
	padding: 20px;
	background-color: white;
	border: 3px ridge rgba(139,140,142,1);
	border-radius: 5px;
	display: flex;
	justify-content: space-evenly;
}
.dateselectorbox button{
	padding: 0 25px;
	margin: 0 5px;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	color: rgb(32,98,152);
	background-color: rgba(139,140,142,.5);
	white-space: nowrap;
}
.dateselectorbox i{
	color: rgb(202,169,117);
}
.dateselectorbox button:hover{
	color: rgb(59,173,226);
	border: 3px ridge rgba(139,140,142,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.scheduler-table table{
	border-collapse: separate;
	border-spacing: 5px;
	background-color: white;
	border: 3px ridge rgba(139,140,142,1);
	border-radius: 5px;
	text-align: center;
	width: 100%;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.scheduler-table td,
.scheduler-table th{
	border: 1px solid rgba(139,140,142,.5);
}
.scheduler-table th{
	background-color: rgb(32,98,152);
	color: white;
	font-weight: 700;
}
.scheduler-table td{
	background-color: rgba(108, 209, 108, 0.5);
}
.scheduler-table td:hover{
	border: 3px ridge rgba(139,140,142,.5);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}
.scheduler-table tr{
	height: 60px;
}
.scheduler-table .row-title,
.scheduler-table .row-date{
	height: 30px;
}
.scheduler-table .row-date th{
	color: rgb(202,169,117);
	font-size: 400;
}
.scheduler-table .col-0{
	width: 10%;
}
.scheduler-table .col-1, 
.scheduler-table .col-2,
.scheduler-table .col-3,
.scheduler-table .col-4,
.scheduler-table .col-5{
	width: 18%;
}

.modal .close-button{
	height: 30px;
	width: 30px;
	border: none;
	font-size: 20px;
	background-color:white;
	color: black;
}
.modal .close-button:hover{
	background-color: rgb(196, 14, 14);
	color: white;
}
.modal p{
	display: inline;
	font-weight: 700;
}
.modal .datetime{
	display: flex;
	justify-content: space-around;
}

.scheduler-table .blocked{
	background-color: rgba(139,140,142,.5);
}
.scheduler-table .blocked:hover{
	border: none;
	box-shadow: none;
}

/* registrations.html formázások */
.registrations-table table{
	background-color: white;
	border: 1px solid rgba(139,140,142,.5);
	border-radius: 5px;
	width: 100%;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
}
.registrations-table .col-1{
	padding: 0 15px;
}
.registrations-table .col-1, 
.registrations-table .col-2{
	width: 37.5%;
}
.registrations-table .col-3{
	text-align: center;
}
.registrations-table .col-3 button{
	padding: 2.5px 5px;
	white-space: nowrap;
}
.registrations-table th, td{
	height: 50px;
	vertical-align: middle;
	border: 1px solid rgba(139,140,142,.5);
}
.registrations-table th{
	text-align: center
}
.registrations-table td{
	text-align: left;
	white-space: nowrap;
}
.registrations-table h6{
	margin: 10px 0;
	font-weight: 700;
}

