@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*
{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: rgba(153, 204, 255,.15);
 	margin: 0;
}
.wrapper{
	margin: 0 auto;
	min-width: 335px;
 	max-width: 1200px;	
}
/* main.html teszteléshez használt tag-jeinek formázása */
.user{
	text-align: center;
	margin: 20px;
}
.user a{
	font-weight: 700;
}
.mediasize{
	text-align: center;
	margin: 20px;
}
.mediasize a{
	font-weight: 700;
	color: black;
	text-decoration: none;
}
p{
	text-align: justify;
}
/* main.htlm formázások */
nav{
	background-color: white;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 50px rgba(0,0,0,.5);
}
img{
	float: left;
}
nav::after{
	content:'';
	clear: both;
	display: table;
}
nav ul{
	margin: 25px 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
nav li{
	padding: 0 5px;
}
nav a{
	display: block;
	text-decoration: none;
	color: rgb(32,98,152);
	font-weight: 700;
	font-size: 17px;
  	white-space: nowrap;
}
	nav a:hover{
		color: rgb(59,173,226);
		background-color: rgba(139,140,142,.5);
		border-radius: 5px;
		margin: -5px 0;
		padding: 5px;
	}
nav i{
	font-size: 15px;
	color: rgb(202,169,117);
}
.mobile-menu-button + input[type = "checkbox"]{
	display: none;
}
.mobile-menu-button + input[type = "checkbox"]:checked ~ .navigation{
	margin: 80px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.mobile-menu-button{
	display: none;
	float: right;
	width: 45px;
	border: 2px solid rgb(32,98,152);
	border-radius: 5px;
	margin: 15px 5px;
	padding: 10px;
}
.mobile-menu-button span{
	display: block;
	height: 5px;
	background:  rgb(32,98,152);
	margin: 0 0 5px 0;
}
.mobile-menu-button span:last-of-type {
	margin: 0;
}
@media(max-width:992px){
	.navigation{
		display: none;
	}
	.mobile-menu-button{
		display: block;
	}
	nav ul li{
		padding: 5px 5px;
	}
}
/* vehicles.html formázások */
.content-new{
	margin: 0 0 30px 0;
}
.content-new span{
	color: rgb(59,173,226);
	font-weight: 700;
	font-size: 17px;
}
.content-new i{
	font-size: 15px;
	color: rgb(202,169,117);
}
.content-new h5{
	margin: 10px 0;
	text-align: center;
}

.content-table table{
	width: 100%;
	background-color: white;
	border: 1px solid rgba(139,140,142,.5);
}
.content-table th, td{
	height: 50px;
	vertical-align: middle;
	border: 1px solid  rgba(139,140,142,.5);
}
.content-table th{
	text-align: center
}
.content-table td{
	text-align: right;
	white-space: nowrap;
}
.content-table .col-1, .col-2, .col-3, .col-4{
	width: 20%;
	padding: 0 15px;
}
.content-table .col-5{
	text-align: center;
	white-space: normal;
	padding: 0 5px;
}
.content-table .col-5 button{
	margin: 5px 0;
	white-space: nowrap;
}
.content-table h5{
	margin: 10px 0;
	text-align: center;
}
