<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layouts/main">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>járművek</title>

</head>

<body onload="vehicles_onload()">

	<!-- page content -->
	<div layout:fragment="content">
	
		<div class="vehicle-new">
	
			<div class="d-grid">
				<button class="btn btn-secondary" href="#addNewVehicle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="addNewVehicle">
					<span><i class="fas fa-plus"></i>  új jármű</span>
				</button>
			</div>
	
			<div class="collapse card" id="addNewVehicle">
	
				<div class="card-header">
					<h6>jármű hozzáadása</h6>
				</div>
	
				<div class="card-body">
					
					<form action="#" th:action="@{/new}" th:object="${vehicle}" method="post">
							
						<p>forgalmi rendszám: <input class="form-control" type="text" th:field="*{regnum}"/></p>
						<p>gyártó: <input class="form-control" type="text" th:field="*{man}"/></p>
						<p>típus: <input class="form-control" type="text" th:field="*{type}"/></p>
						<p>gyártás éve: <input class="form-control" type="text" th:field="*{yop}"/></p>
						
						<input type="submit" value="mentés" class="btn btn-primary btn-med"/>
							
							<!--
							
							<div class="input-group mb-3"> 
							
								<span class="input-group-text" id="inp1">forgalmi rendszám:</span>
								<input type="text" id="regnum" th:field="*{regnum}" placeholder="ABC-123" class="form-control" aria-describedby="inp1" required/>
								
								<span class="input-group-text" id="inp2">gyártó:</span>
								<select class="form-select" id="man" th:field="*{man}" aria-describedby="inp2" required> 
									<option selected></option>
									<option value="1">M.A.N.</option>
								</select>
								
								<span class="input-group-text" id="inp3">típus:</span>
								<select class="form-select" id="type" th:field="*{type}" aria-describedby="inp3" required> 
									<option selected></option>
									<option value="1">TGS</option>
									<option value="2">TGM</option>
									<option value="3">TGL</option>
									<option value="4">TGX</option>
									<option value="5">eTGX</option>
								</select>
								
								<span class="input-group-text" id="inp4">gyártás éve:</span>
								<input type="text" id="yop" th:field="*{yop}" class="form-control" aria-describedby="inp4" required/>
							
							</div>
							
							<div class="savebutton">
								<button onclick="newVehicle()" class="btn btn-primary btn-med"><i class="fas fa-save !important"> mentés</i></button>
							</div>
							
							-->
								
					</form>
	
				</div>
	
			</div>
	
		</div>
		
		<div class="vehicle-table">
			<table>
				<tr class="table-title">
					<th colspan="5">járművek</th>
				</tr>
				<tr class="table-header">
					<th class="col-1">forgalmi rendszám</th>
					<th class="col-2">gyártó</th>
					<th class="col-3">típus</th>
					<th class="col-4">gyártás éve</th>
					<th class="col-5">művelet</th>
				</tr>
				<div th:each="vehicle : ${vehicles}">
					<tr>
						<td class="col-1" th:text="${vehicle.regnum}"></td>
						<td class="col-2" th:text="${vehicle.man}"></td>
						<td class="col-3" th:text="${vehicle.type}"></td>
						<td class="col-4" th:text="${vehicle.yop}"></td>
						<td class="col-5">
							<div class="button-group">
								<button class="btn btn-primary btn-sm" th:id="'modifyVehicle' + ${vehicle.id}" onClick="toggle_modifyRow(this.id)"><i class="fas fa-pencil-alt"> módosítás</i></button>
								<button class="btn btn-danger btn-sm" th:id="'deleteVehicle' + ${vehicle.id}" onClick="toggle_deleteRow(this.id)"><i class="fas fa-trash-alt"> törlés</i></button>
							</div>
						</td>
					</tr>
					<tr>
						<td class="collapse-card vehicle-modify" th:id="'modifyVehicle' + ${vehicle.id} + 'row'" colspan="5">
							<div class="card-header">
								<h6>jármű módosítása</h6>
							</div>
							<div class="card-body">
								<form action="#" th:action="@{/update/{id}(id=${vehicle.id})}" th:object="${vehicle}" method="post">
									<p>forgalmi rendszám: <input class="form-control" type="text" id="regnum" name="regnum" th:value="*{regnum}"/></p>
									<p>gyártó: <input class="form-control" type="text" id="man" name="man" th:value="*{man}"/></p>
									<p>típus: <input class="form-control" type="text" id="type" name="type" th:value="*{type}"/></p>
									<p>gyártás éve: <input class="form-control" type="text" id="yop" name="yop" th:value="*{yop}" /></p>
									<div class="card-button-group">
										<button type="submit" value="mentés" class="btn btn-primary btn-med">mentés</button>
										<button type="reset" value="mégse" class="btn btn-danger btn-med" id="untog" onClick="untoggle(this.id)">mégse</button>
									</div>
								</form>
							</div>
						</td>
					</tr>
					<tr>
						<td class="collapse-card vehicle-delete" th:id="'deleteVehicle' + ${vehicle.id} + 'row'" colspan="5">
							<div class="card-header">
								<h6>jármű törlése</h6>
							</div>
							<div class="card-body">
								<form action="#" th:action="@{/delete/{id}(id=${vehicle.id})}" th:object="${vehicle}" method="post">
									<p>Biztosan törölni szeretnéd?</p>
									<div class="card-button-group">
										<button type="submit" value="törlés" class="btn btn-primary btn-med">törlés</button>
										<button type="reset" value="mégse" class="btn btn-danger btn-med" id="untog" onClick="untoggle(this.id)">mégse</button>
									</div>
								</form>
							</div>
						</td>
					</tr>
				</div>
			</table>
		</div>
		
	</div>
		
</body>

</html>